Package: com.tweak.zeekrlife
Name: zeekr_tweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: luokan
Author: luokan
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
